.html{
    top:0;
    left: 0;
    font-size: 62.5%;
}

.Top-nav div{
    position: relative;
    display: inline-block;
}


/* menu */
.menu {
    list-style: none;
    position: relative;
    float: right;
}

.menu li{
    display: inline-block;
    margin-right: 1rem;
}

.menu a{
    text-decoration: none;
    color: black;
}



/* Image .logo */
.Top-nav .logo img{
    position: relative;
    width: 7rem;
    height: 7rem;
    left: 2rem;
}

/* search bar */
.Top-nav .search input{
    padding-left: 2rem;
    width:15rem;
    height: 1.5rem;
}

.Top-nav .search {
    position: relative;
    left: 25%;
    top: -4rem;
    
}

.search i {
    padding: 0.3rem;
    position: absolute;
}